body{
    background-color: bisque;
}

.heig{
    height: 756px;
}
.heige{
    height: 1200px;
}
.bi{
    color:white;
}
.colorwhite{
    color: white;
}
h3{
    color: white;
}
.myhead{
    color: black;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.datee{
    border-radius: 5px;
}

.plus{
    color: black;
    
}
.buttonwidth{
    width: 100px;
    border-radius: 5px;
    color: white;
}