body{
    background-color: bisque;
}

.heig{
    height: 756px;
}

.bi{
    color:white;
}
.colorwhite{
    color: white;
}
h3{
    color: white;
}
.myhead{
    color: black;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}